<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
      mapper为映射的根节点，用来管理DAO接口
      namespace指定DAO接口的完整类名，表示mapper配置文件管理哪个DAO接口(包.接口名)
      mybatis会依据这个接口动态创建一个实现类去实现这个接口，而这个实现类是一个Mapper对象
   -->
<mapper namespace="com.example.consumer.mapper.UtilityBillUserMapper">

    <select id="getAllUtilityBillUser" resultType="com.example.consumer.pojo.dto.UtilityBillUserDTOLocationDTO">
        select ubs.mail,
               ubs.user_name,
               ubs.dormitory_id,
               ubs.dormitory_room_id,
               ubs.university_code_id,
               uc.cookie
        from utility_bill_user as ubs
                 left join university_cookie as uc on ubs.university_code_id = uc.code_id
        where ubs.if_deleted = 0 ;
    </select>

    <select id="getDormitoryRoomIdsGroupBy" resultType="com.example.consumer.pojo.dto.UtilityBillUserDTOLocationDTO">
        select ubs.dormitory_id,
               ubs.dormitory_room_id,
               ubs.university_code_id,
               uc.cookie
        from utility_bill_user as ubs
                 left join university_cookie as uc on ubs.university_code_id = uc.code_id
        where ubs.if_deleted = 0
        group by ubs.university_code_id, ubs.dormitory_id, ubs.dormitory_room_id ;
    </select>
</mapper>